/* Serhio */
@font-face {
    font-family: 'BeVietnamPro';
    src: url(../font/BeVietnamPro-Regular.ttf);
    font-weight: 400;
}

    @font-face {
    font-family: 'Outfit';
    src: url(../font/Outfit-Regular.ttf);
    font-weight: 400;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:BeVietnamPro;
}
.pre-header-info{
    background-image:url(../img/IMAGE.png) ;
    background-size: cover;
    padding: 1%;
}
h1{

}
p{
    font-family:BeVietnamPro;
    font-size: .8vw;
}
.pre-header-info>p{
    color: white;
    text-align: center;
}
.burger-checkbox{
    display: none;
}
.menu-list{
    display: flex;
    list-style: none;
    padding-inline:10% ;
    justify-content: space-between;
    margin-top: 2%;
    align-items: center;
}
.menu-item{
    text-decoration: none;
    color:#1C2436;
    font-size: 0.7vw;
}
.menu-list>li:last-child{
    margin-left: 50%;
}
.last{
    border:1px solid #E8E7EE;
    padding: 12% 12%;
    display: inline-block;
    width: max-content;
}
.pre-info-header{
    font-size: 1vw;
    text-align: center;   
    margin-top: 7%;
    margin-bottom: 4%;
}
h1{
    text-align: center;
    font-weight: 300;
    font-size: 3vw;
}
.after-info-header{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 0.8vw;
}.header-container{
    padding-inline: 10%;
}
.header-container>img{
    width: 100%;
}
/* Danya */






/* Yura */




/* ZZZahar */






































@media(max-width:768px){
    .burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: orange;
  list-style-type: none;
  transform: translateX(-100%);
  transition: .3s;
  width: 200px;
}
.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255,255,255,.2)
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}
}