/* Serhio */




/* Danya */






/* Yura */
@font-face {
    font-family: 'BeVietnamPro';
    src: url(../font/BeVietnamPro-Light.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Outfit';
    src: url(../font/Outfit-Light.ttf);
    font-weight: 400;
}
a{
    font-family: Outfit;
}
p{
    font-family: Outfit;
}
h2{
    font-family: Outfit;
}
h3{
    font-family: Outfit;
}
.maincard{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
.maincardtext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  2px solid #E8E7EE;
}
.maincardtext>h2{
    font-size: 3vw;
}
.maincardtext>p{
    font-size: 1.6vw;
    font-family: BeVietnamPro;
}
.maincards{
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
}
.card{
    text-align: center;
    border: 2px solid #E8E7EE;
    padding: 3% 5%;
}
.card>p{
    font-size: 1vw;
    color: #454C5F;
    font-family: BeVietnamPro;
}
.maincard>a{
    background-color: #F6F6F9;
    padding: 1% 47%;
    color: #1C2436;
    text-decoration: none;
}
.maincardimgs1{
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
.maincardimgs1>p{
    color: #454C5F;
}
.maincardimgs1>h2{
    font-size: 2vw;
}
.maincardimgs1>img{
    padding: 5%;
}
@media(max-width: 768px){
    .maincardtext>h2 {
        font-size: 3vw;
    }
    .maincardtext>p {
        font-size: 1.7vw;
    }
    .maincard>a {
        padding: 1.5% 43%;
    }
    .card>p{
        font-size: 1.3vw;
    }  
}
@media(max-width: 425px){
    .maincardimgs1>img{
        width: 90%;
    }
    .maincardtext{
        flex-direction: column;
    }
    .maincardtext>p {
        font-size: 3vw;
    }
    .maincardtext>h2 {
        font-size: 4vw; 
    }
    .maincardtext{
        text-align: left;
    }
    .maincard>a {
        padding: 3% 35%;
    }
    .maincards{
        flex-direction: column;
    }
    .card>p {
        font-size: 3vw;
    }
    .card{
        margin-bottom: 3%;
    }
    .maincardimgs1>p {
        font-size: 3.5vw;
    }
    .maincardimgs1>h2 {
        font-size: 5vw;
    }
}
/* ZZZahar */





